@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.upper_navigation {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;

  width: 100%;
  height: 70px;
  font-size: 17px;
  overflow: auto;
}
/* .upper_navigation .logo img {
  margin: 10px;

  } */
/* .logo img {
  height: 40px;
  } */

.upper_navigation .amazon_logo {
  width: 150px;
  height: 65px;
  margin: 2px 3px;
  border: 1px solid black;
  border-radius: 4px;
}
.upper_navigation .amazon_logo img {
  height: 60px;
  display: block;
  margin: auto;
  /* border: 1px solid white; */
}
.upper_navigation .amazon_logo:hover {
  border: 1px solid white;
  cursor: pointer;
}

/* apply onclick using javascript on hovering address logo to directed to maps */
.upper_navigation .address {
  display: flex;
  align-items: center;
  margin: auto 14px auto 4px;
  border: 1px solid black;
  height: 62px;
  border-radius: 4px;
}
.upper_navigation .address img {
  height: 25px;
}
.upper_navigation .address_logo {
  height: 25px;
  /* border: 1px solid wheat; */
}
.upper_navigation .address .text {
  margin: 5px;

  height: 95%;

  min-width: 130px;
  padding: 12px 0px 0px 0px;
  font-size: 14px;
}

.upper_navigation .address:hover {
  border: 1px solid white;
  cursor: pointer;
}

.upper_navigation .type_filter select {
  height: 45px;

  text-align: center;
  font-size: 17px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  width: 20vw;
  max-width: 100px;
  margin-top: 10px;
}
.upper_navigation .type_filter select:hover {
  cursor: pointer;
}

.upper_navigation .search_area input {
  width: 45vw;
  height: 45px;
  font-size: 17px;
  border: none;
  margin-top: 10px;

  /* border-radius: 4px; */
}
.upper_navigation .search img {
  height: 46px;

  width: 16vw;
  max-width: 50px;
  margin: 10px 17px 6px 0px;
  border-radius: 0px 4px 4px 0px;

  border: none;
}
.upper_navigation .search img:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* apply onclick functio */

.upper_navigation .sign_in_text {
  border: 1px solid black;
  height: 48px;
  margin: 2px;
  padding: 6px;
  min-width: 140px;
  font-size: 14px;
}
.upper_navigation .sign_in_text:hover {
  border: 1px solid white;
  cursor: pointer;
}
.upper_navigation .cart_container {
  height: 40px;
  border: 1px solid black;
  min-width: 50px;
  display: block;
  margin: auto;
  border-radius: 3px;
}

.upper_navigation .cart_container img {
  height: 38px;
}
.upper_navigation .cart_container:hover {
  border: 1px solid white;
  cursor: pointer;
}
.upper_navigation .sign_in_box {
  display: none;
  background-color: blueviolet;
  position: absolute;

  clip-path: polygon(0 100%, 100% 100%, 100% 5%, 68% 5%, 65% 0, 59% 5%, 0 5%);

  height: 300px;
  width: 300px;
  top: 59px;
  right: 103px;
  z-index: 2;
}

.lower_navigation {
  background-color: rgb(38, 47, 61);
  color: white;
  height: 40px;

  overflow: hidden;
}
.lower_navigation ul {
  list-style: none;
  margin: 0px;
  padding: 5px;
}
.lower_navigation ul li {
  list-style-type: none;
  display: inline-block;
  margin: 6px 4px;
}
.lower_navigation ul li a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(38, 47, 61);
  /* margin: 1px 5px; */
  border-radius: 3px;
  padding: 3px;
  font-size: 17px;
}
.lower_navigation ul li a:hover {
  border: 1px solid white;
}

.lower_navigation .lists_container {
  height: 100%;
  /* padding: 5px; */
}

main {
  /* height: 200px; */
  background-color: rgb(235, 237, 237);
}
@keyframes example {
  /* 0%{
    left: 0%;

  }
  25%{
    left: 100%;

  }
  50%{
    left: 0%;

  }
  75%{
    left: -100%;
  }
  100%{
    left: 0%;


  } */
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
main .first_container {
  height: 700px;
  padding: 10px 0px;

  background: linear-gradient(rgb(96, 118, 231, 1), rgb(235, 237, 237, 1));
  overflow: hidden;
}
main .first_container .logo_box {
  height: 20.5vw;

  width: 80%;
  margin: 2px auto;
  position: relative;
  left: 0%;

  animation-name: example;

  animation-duration: 6s;

  animation-iteration-count: 3;
  animation-timing-function: linear;

  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}
main .first_container .logo_box img {
  height: 100%;
  /* float: right; */
}
main .first_container .content_box {
  /* background-color: bisque; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
  margin: 25px 10px;
  overflow: hidden;
}

/* ********** */

/* **************divide int two and four********** */

.divide_into_four .title_container,
.divide_into_two .title_container {
  height: 15%;
  width: 97%;
  /* background-color: blueviolet; */
  display: grid;
  margin: auto;
  align-items: center;
}
.divide_into_four .content_child,
.divide_into_two .content_child {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  height: 70%;
  width: 95%;
}

.divide_into_four .content_child .first_child,
.divide_into_four .content_child .second_child,
.divide_into_four .content_child .third_child,
.divide_into_four .content_child .fourth_child {
  height: 48%;
  width: 48%;
  /* background-color: brown; */
  margin: 2px;
  cursor: pointer;
}
.divide_into_two .content_child .first_child,
.divide_into_two .content_child .second_child {
  height: 48%;
  width: 98%;
  /* background-color: brown; */
  margin: 2px;
  cursor: pointer;
}

.divide_into_four .content_child .first_child a img,
.divide_into_four .content_child .second_child a img,
.divide_into_four .content_child .third_child a img,
.divide_into_four .content_child .fourth_child a img,
.divide_into_two .content_child .first_child a img,
.divide_into_two .content_child .second_child a img {
  height: 100%;
  width: 100%;
}

.divide_into_four,
.divide_into_two {
  text-align: center;
}
.divide_into_four a,
.divide_into_two a {
  text-decoration: none;
}
.divide_into_four a:hover,
.divide_into_two a:hover {
  color: rgb(163, 52, 26);
}

/* divie into two and four ends */

main .second_container {
  width: 99%;
  height: 400px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
/* 
main  .child_box {
  background-color: white;


  padding: 10px;
 

  width: 20%;
margin: 39px 5px;
min-height: 178px;
min-width: 245px;
height: 77%;
} */

main .child_box {
  background-color: white;

  padding: 10px;

  /* background-color: white; */
  width: 19%;
  margin: 39px 5px;
  min-height: 178px;
  min-width: 230px;
  height: 77%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 267px;
}
main .third_container {
  height: 300px;
  background-color: white;
}
main .third_container .title_container {
  height: 10%;
  /* background-color: aqua; */

  padding: 2px;
  align-items: end;
  display: grid;
  font-size: 20px;
  font-weight: 800;
}
main .third_container .scroll_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  height: 260px;
  width: 100%;
}

main .third_container .scroll_container .child_container {
  height: 240px;
  width: 250px;
  /* background-color: wheat; */
  margin: 0px 5px;
  display: inline-block;
}
main .third_container .child_container a img {
  height: 100%;
  width: 100%;
}

main .fourth_container {
  height: 450px;
  /* background-color: aqua; */
}
main .fourth_container .title_container {
  height: 16%;
  background-color: white;
  align-items: end;
  display: grid;
  font-size: 31px;
  padding: 10px;
  font-weight: bold;
}
main .fourth_container .scroll_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  height: 375px;
  width: 100%;
  background-color: white;
}

main .fourth_container .scroll_container .child_container {
  height: 350px;
  /* background-color: darkgoldenrod; */
  margin: 5px 10px;
  width: 255px;
}
main .fourth_container .scroll_container .child_container .img_container {
  height: 150px;
  /* background-color: burlywood; */
}
main .fourth_container .scroll_container .child_container .img_container img {
  height: 100%;
  width: 100%;
}
main
  .fourth_container
  .scroll_container
  .child_container
  .description_container {
  height: 125px;
  /* background-color: aquamarine; */
  padding: 5px;
}
main
  .fourth_container
  .scroll_container
  .child_container
  .description_container
  a {
  color: rgb(48, 111, 131);
}
main
  .fourth_container
  .scroll_container
  .child_container
  .description_container
  a:hover {
  color: rgb(226, 141, 52);
}

main .fourth_container .scroll_container .child_container .dilevery_status {
  height: 75px;
  /* background-color:blueviolet; */
  padding: 5px;
}

/* use on click function to bring top */

main .back_to_top {
  height: 50px;
  background-color: rgb(58, 71, 88);
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
main .back_to_top:hover {
  background-color: rgb(70, 80, 95);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 100px;
  /* position: sticky; */
}

@media screen and (max-width: 1260px) {
  /* .upper_navigation .search_area input {

    width: 55vw;
    } */

  .upper_navigation .address {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .upper_navigation .cart_container {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .upper_navigation {
    /* background-color: black; */
    height: 135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upper_navigation .sign_in_text {
    display: none;
  }
  .upper_navigation .search_area input {
    width: 65vw;
  }
  /* .upper_navigation .search_area input {

      width: 70vw;
      } */
}

/* 
margin: 46px 2px;
min-height: 165px;
min-width: 240px;
height: 68%; */
/* 
margin: 46px 2px;
min-width: 246px;
height: 68%; */

/* sdfasdfasdf */

